<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">  
    <input type="hidden" name="orderId" #orderId="ngModel" [(ngModel)]="formData.id">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Order No.</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">#</div>
            </div>
            <input name="orderNo" #orderNo="ngModel" [(ngModel)]="formData.orderNo" class="form-control" readonly>
          </div>
        </div>
        <div class="form-group">
          <label>Customer</label>
          <select name="customerID" #customerID="ngModel" [(ngModel)]="formData.customerId" 
          class="form-control" [class.is-invalid]="!isValid && formData.customerId==0">
            <option value="0">-Select-</option>
            <option *ngFor="let customer of customerList;" value="{{customer.id}}">{{customer.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Payment Method</label>
          <select name="method" #method="ngModel" [(ngModel)]="formData.method" 
          class="form-control" [class.is-invalid]="!isValid && formData.method==''">
            <option value="">-Select-</option>
            <option value="Cash">Cash</option>
            <option value="Card">Card</option>
          </select>
        </div>
        <div class="form-group">
          <label>Grand Total</label>
  
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">$</div>
            </div>
            <input name="total" #total="ngModel" [(ngModel)]="formData.total" class="form-control" readonly>
          </div>
        </div>
      </div>
    </div>
    
     <!-- order items table-->
    <table class="table table-borderless">
      <thead class="thead-light">
        <th>Food</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>
          <a class="btn btn-sm btn-success text-white" (click)="addOrEditOrderItem(null,formData.id)"><i class="fa fa-plus"></i> Add Item</a>
        </th>
      </thead>
      <tbody>
        <tr *ngIf="orderItem.length==0" [class.text-danger]="!isValid && orderItem.length==0">
          <td class="font-italic text-center" colspan="5">
            No food item selected for this order.
          </td>
        </tr>

        <tr *ngFor="let item of orderItem;let i=index;">
          <td>{{item.itemName}}</td>
          <td>{{item.price}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.total}}</td>
          <td>
            <a class="btn btn-sm btn-info text-white" (click)="addOrEditOrderItem(i,formData.id)"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteOrderItem(item.orderId,i)"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="form-group">
        <button type="submit" class="btn btn-warning"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-info ml-1" routerLink="/orders"><i class="fa fa-table"></i> View orders</a>
    </div>
  </form> 